#demo14{
    /* border: 1px solid; */
    /* border-top: 2px solid; */
    height: 400px;
    background-image: url(./images/banner.jpg);
    object-fit: 100%;
    width: 100%;
}
#demo14>h4{
    /* border: 2px solid; */
    height: 430px;
    width: 100%;
    position: absolute;
    top:1245px;
    border-top: 2px solid rgb(229, 229, 229) ;
    border-bottom: 2px solid rgb(229, 229, 229);
}
#demo14>p{
    position: absolute;
    top: 1450px;
    left: 330px;
    font-weight: 400;
    font-size: 2em;
    line-height: 1.5em;
    letter-spacing: 4px;
    text-align: center;
    margin: 0px;
    color:#fff;
}
#imga{
    /* color: #fff; */
    position: absolute;
    top: 1450px;
    left: 120px;
    color:black;
}
#imgb{
    /* color: #fff; */
    position: absolute;
    top: 1450px;
    left: 1320px;
    color:black;

}
#demo15{
    /* border: 2px solid; */
    padding-left: 160px;
    padding-top: 100px;
}
#demo15>p{
    color: #878787;
    font-size: 25px;
    letter-spacing: 5px;

}
#demo15>p+img{
    border:7px solid ;
    border-color: rgba(135, 135, 135, 0.3);
    width: 750px;
    height: 300px;
}
#demo15>p+img+p{
    font-size: 20px;
    letter-spacing: 1.5px;
    color: #878787;
}
#demo15>#font{
    color: #777777;
    font-size: medium;
    letter-spacing: 0px;
    font-size: 17px;
    text-align: justify;
    color: #777777;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#bun{
    border: 2px solid rgb(229, 229, 229);
    height: 55px;
    width: 250px;
    margin-left: 0px;
    margin-top: 50px;
    background-color: #ed786a;
    /* box-shadow: 2px 2px 1px rgba(135, 135, 135, 0.3); */
    border-radius: 5px;
    
    color: #fff;
}
#demo16{
    position: absolute;
    top: 1870px;
    left: 1000px;
}
 #demo16>button{
    /* position: absolute;
    left: 1000px;
    top: 1870px; */
    color: #fff;
    height: 35px;
    width: 90px;
    border-radius: 5px;
    background-color: #878787;
    box-shadow: 2px 2px 1px rgba(135, 135, 135, 0.3);
    border: none;
} 
#demo16>p{
    word-spacing: 4px;
    font-size: large;
    color: #878787;
    /* background-color: aqua; */
}
#demo16>#cm:hover{
    color: orangered;
}
#demo16>p+p{
    /* background-color: aqua; */
    color: #777777;
    font-size: 17px;
    color: #777777;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#demo16>p+p+h6{
    /* border: 1px solid; */
    /* height: 100px; */
    /* width: 10px; */
    border-top: 2px solid rgb(229, 229, 229);
    margin-top: 40px;
}
#demo17{
    position: absolute;
    top: 2100px;
    left: 1000px;
}
 #demo17>button{
    /* position: absolute;
    left: 1000px;
    top: 1870px; */
    color: #fff;
    height: 35px;
    width: 90px;
    border-radius: 5px;
    background-color: #878787;
    box-shadow: 2px 2px 1px rgba(135, 135, 135, 0.3);
    border: none;
} 
#demo17>p{
    word-spacing: 4px;
    font-size: large;
    color: #878787;
    /* background-color: aqua; */
}
#demo17>#cm1:hover{
    color: orangered;
}

#demo17>p+p{
    /* background-color: aqua; */
    color: #777777;
    font-size: 17px;
    word-spacing: normal;
    color: #777777;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#demo17>p+p+h6{
    /* border: 1px solid; */
    /* height: 100px; */
    /* width: 10px; */
    border-top: 2px solid rgb(229, 229, 229);
    margin-top: 40px;
}
#demo18{
    position: absolute;
    top: 2330px;
    left: 1000px;
}
 #demo18>button{
    /* position: absolute;
    left: 1000px;
    top: 1870px; */
    color: #fff;
    height: 35px;
    width: 90px;
    border-radius: 5px;
    background-color: #878787;
    box-shadow: 2px 2px 1px rgba(135, 135, 135, 0.3);
    border: none;
} 
#demo18>p{
    word-spacing: 4px;
    font-size: large;
    color: #878787;
    /* background-color: aqua; */
}
#demo18>#cm2:hover{
    color: orangered;
}
#demo18>p+p{
    /* background-color: aqua; */
    color: #777777;
    font-size: 17px;
    word-spacing: normal;
    color: #777777;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#demo18>p+p+h6{
    /* border: 1px solid; */
    height: 8px;
    /* width: 5px; */

    border-top: 2px solid rgb(229, 229, 229);
    border-bottom: 2px solid rgb(229, 229, 229);
    margin-top: 80px;
}
#demo19{
    /* border: 1px solid; */
       height: 8px;
       width: 800px;
        /* width: 5px; */
    
        border-top: 2px solid rgb(229, 229, 229);
        border-bottom: 2px solid rgb(229, 229, 229);
        margin-top: 60px;
        margin-left: 160px;
}
#demo20{
    /* border: 2px solid; */
    margin: 80px;
    padding-left: 100px;
}
#demo20>p{
    color: #878787;
    font-size: 25px;
    letter-spacing: 4px;

}
#demo20>p+img{
    border:7px solid ;
    border-color: rgba(135, 135, 135, 0.3);
    width: 750px;
    height: 300px;

}
#demo20>p+img+p{
    font-size: 18px;
    /* letter-spacing: 1.5px; */
    /* color: #878787; */
    margin-top: 45px;
    color: #777777;
    /* background-color: aqua; */
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
#demo20>p+img+p+p{
    font-size: large;
    letter-spacing: 1px;
    /* background-color: aqua; */
    font-weight: 100;
    margin-top: 45px;
    color: #777777;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#demo20>p+img+p+p+p{
    /* border: 2px solid; */
    width: 760px;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    font-weight: 100;
    margin-top: 60px;
    color: #777777;
    /* background-color: aquamarine; */

}
#demo20>#bun1{
    height: 50px;
    width: 250px;
    background-color: #ed786a;
    color: #fff;
    margin-top: 50px;
    box-shadow: 2px 2px 1px rgba(135, 135, 135, 0.3);
    border-color: rgba(135, 135, 135, 0.3);
    border-radius: 4px;
}
#demo21{
    /* border: 2px solid;    */
    width:360px;
    height: 500px;
    position: absolute;
    left: 1000px;
    top: 2660px;
}
#demo21>p{
    word-spacing: 4px;
    font-size: large;
    color: #878787;

}
#demo21>#cm3:hover{
    color: orangered;
    
}
#demo21>p+img{
    border: 7px solid rgba(135, 135, 135, 0.3);
    float: left;
    margin: 0 1.5em 1.5em 0;
    position: relative;
    top: 0.5em;
}
#demo21>p+img+p{
    /* position: absolute; */
    /* left: 200px; */
        text-align: justify;
        margin-bottom: 2em;
        font-size:larger;
        word-spacing: 10px;
        font-style: normal;
        /* font-size: medium; */
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#demo21>#bun2{
    height: 45px;
    width: 200px;
    background-color: #ed786a;
    color: #fff;
    box-shadow: 2px 2px 1px rgba(135, 135, 135, 0.3);
    border-color: rgba(135, 135, 135, 0.3);
    margin-top: 40px;
    border-radius: 4px;
}
#demo21>#bun2+h5{
    border-top: 2px solid rgb(229, 229, 229);
    margin-top: 40px;
}

#demo22{
    /* border: 2px solid;    */
    width:360px;
    height: 500px;
    position: absolute;
    left: 1000px;
    top: 3300px;
}
#demo22>p{
    word-spacing: 4px;
    font-size: large;
    color: #878787;

}
#demo22>#cm4:hover{
    color: orangered;
}
#demo22>p+img{
    border: 7px solid rgba(135, 135, 135, 0.3);
    float: left;
    margin: 0 1.5em 1.5em 0;
    position: relative;
    top: 0.5em;
}
#demo22>p+img+p{
    /* position: absolute; */
    /* left: 200px; */
        text-align: justify;
        margin-bottom: 2em;
        color: #777777;
        font-size: large;
        word-spacing: 10px;
        font-style: normal;
        /* font-size: medium; */
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#demo22>#bun3{
    height: 45px;
    width: 200px;
    background-color: #ed786a;
    color: #fff;
    box-shadow: 2px 2px 1px rgba(135, 135, 135, 0.3);
    border-color: rgba(135, 135, 135, 0.3);
    /* margin-top: 20px; */
    border-radius: 4px;

}

footer{
    /* border: 2px solid; */
    height: 1000px;
    width: 100%;
    position: absolute;
    top: 3900px;
    background-color: #f0f0f0;
}
#rel{
    position: relative;
    top: 100px;
    text-align: center;
    font-size: x-large;
    letter-spacing: 4px;
    color: #888;;
}
#cap>input{
    height: 15px;
    width: 220px;
    margin-top: 160px;
    margin-left: 180px;
    background-color: #f7f7f7;
    padding: 15px;
    /* border-radius: 3px; */
    box-shadow: 1px 1px 5px;
}
#cap1>input{
    height: 15px;
    width: 220px;
    margin-left: 180px;
    background-color: #f7f7f7;
    padding: 15px;
    position: absolute;
    left: 290px;
    top: 187px;
    /* border-radius: 3px; */
    
}
#cap2>textarea{
    margin-left: 180px;
    height: 200px;
    width: 510px;
    padding: 15px;
    background-color: #f7f7f7;
    /* border-radius: 4px; */
    border-color:#878787;
}
form>button{
    margin-left: 180px;
    margin-top: 20px;
    height: 50px;
    width: 250px;
    background-color: #ed786a;
    color: #fff;
    border-color: #777777;
    border-radius: 4px;
}
#demo23{
    /* border: 2px solid ; */
    width: 550px;
    position: absolute;
    left: 800px;
    top: 170px;
    color: #777777;
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#demo23>div{
    list-style: none;
    display: flex;
    margin-top: 50px;
    color: #777777;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}
#demo23>p+div>li a{
    color: #777777;
}
#demo24{
    position: absolute;
    left: 300px;
    top: 80px;
}
#demo24>li a{
    color: #777777;
}
#demo25{
    position: absolute;
    width: 1160px;
    left: 180px;
    top: 700px;
    border-top:2px solid rgba(135, 135, 135, 0.3);
}
#demo26{
    margin-top: 150px;
    display: flex;
    justify-content: center;
    list-style: none;
}
#demo26>li{
    color: #777777;
}
#demo26>li a{
    color: #777777;
}

#demo26>li{
    position: absolute;
    left: 450px;

    
}
#demo26>li+li{
    position: absolute;
    left: 700px;
}
#demo26>li+li+li{
    position:absolute;
    left: 880px;
}
#demo23>div>li>a:hover{
    color: #ed786a;
}
#demo24>li>a:hover{
    color: orangered;
}


    










